body { 
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header,footer {
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

main, form {
    padding: 15px;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    border: 1px solid black;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

article {
    background-color: antiquewhite; 
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

#modo {
    cursor: pointer;
    border: none;
}

body.modo-oscuro {
    background: #121212;
    color: white;
}

body.modo-oscuro header {
    background: darkblue;
    color: white;
}

body.modo-oscuro .proyectos{
    background-color: 121212;
    color: wheat;
}

body.modo-oscuro article {
    color: white;
    background-color: burlywood;
}