@media (max-width: 768px){

    header{
        flex-direction: column;
        text-align: center;
    }

    nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .proyectos{
        flex-direction: column;
        align-items: center;
    }

}

* {
    font-family: 'Times New Roman', Times, serif;
}

body { 
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header,footer {
    background: blue;
    color: white;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main p {
    background: white;
    padding: 12px;
    border-left: 4px solid cyan;
    border-radius: 5px;
}

main a {
    text-decoration: none;
}

ul, li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 8px;
    width:200px;
    background-color: antiquewhite;
    padding: 3px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.enlaces {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}


input, textarea {
    width: 100%;
    border: 1px solid black;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

article {
    background-color: antiquewhite; 
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

#modo, #agregar-estudio {
    cursor: pointer;
    border: none;
    background: cadetblue;
    border-radius: 6px;
}

#repos {
    cursor: pointer;
    text-decoration: none;
    background: cadetblue;
    border-radius: 6px;
    color: black;
    font-size: 14px;
}

body.modo-oscuro {
    background: #121212;
    color: white;
}

body.modo-oscuro header,footer {
    background: darkblue;
    color: white;
}

body.modo-oscuro main p {
    background: #121212;
    color: white;
}

body.modo-oscuro ul,
body.modo-oscuro li {
    background: #121212;
    color: white;
}

body.modo-oscuro .proyectos{
    background-color: 121212;
    color: wheat;
}

body.modo-oscuro article {
    color: white;
    background-color: burlywood;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;

}

#modal-contenido {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    position: relative;

}

#cerrar-modal {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}